PORT=4000

URL_API=http://localhost:6009/api/bot
COOKIE_ADMIN_JWT=your_jwt_here

OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ASSISTANT_ID=asst_xxxxxxxxxxxxxxxxxxxxxxxx

ELEVENLABS_API_KEY=sk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ELEVENLABS_VOICE_ID=xxxxxxxxxxxxxxxxxxxx
